
  
  <body>
  
  
  
    <p>Adatbevitel</p>
    <form action="/action_page.php">
        <label for="cars">A bevinni kívánt típus:</label>
        <select id="cars" name="cars">
          <option value="plane">Replülő</option>
          <option value="transporter">Szállítókocsi</option>
          <option value="parachute">Ejtőernyő</option>
          <option value="endorsement">Jogosítás</option>
        </select>
        <!---<input type="submit">-->
      </form>
  
  
  </body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>